
<div class="main-container">
    <div class="project-details"><h3>  
      {{ projet?.nom }}  </h3>
      <p><strong>Responsable :</strong>   {{ projet?.responsable }}  </p>
      <p><strong>Description :</strong>   {{ projet?.description }}  </p>
      <p><strong>Remarque :</strong>   {{ projet?.remarque }}  </p>
      <p *ngIf="projet?.budget"><strong>Budget :</strong> {{ projet?.budget }}  </p>
      <p><strong>Limite :</strong>   {{ projet?.date_limite | date }}  </p>
      </div>
    <div class="table-container">
      <div class="form-group">
        <h2>Etapes du projet</h2>
      </div>
      <table class="step-table">
        <thead>
            <tr class="table-header">
                <th>Nom</th>
                <th>Description</th>
                <th>Date de début</th>
                <th>Date d'accomplissement</th>
                <th>Remarque</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let step of etapes">
                <td> {{ step.nom }} </td>
                <td> {{ step.description }} </td>
                <td> {{ step.dateDebut | date }} </td>
                <td> {{ step.datePrevu | date }} </td>
                <td> {{ step.remarque }} </td>
                <td><img [src]="step.image" alt="Image" width="50"></td>
                <td><a href="" routerLink="/e-gouvernance/details-etape/{{ step._id }}">Details</a></td>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="comment-section">
        <h2>Commentaires</h2>
        <div class="comments">
          <!-- Commentaire 1 -->
          <div class="comment" *ngFor="let comment of commentaire">
            <p><strong> {{ comment.user }}</strong></p>
            <p>{{ comment.contenu }}</p>
          </div>
          
          <!-- Ajoutez plus de commentaires de la même manière -->
        </div>
        
        <!-- Formulaire de commentaire -->
        <div class="comment-form">
          <h3>Ajouter un commentaire</h3>
          <form ngForm (ngSubmit)="commenter()">
            <label for="comment">Commentaire :</label>
            <textarea id="comment" name="comment" [(ngModel)]="comment" rows="4" required></textarea>
            <p style="color: red;" *ngIf="message">{{ message }}</p>
            <button type="submit">Soumettre</button>
          </form>
        </div>
      </div>
  </div>
  