/* liste-membres-gouvernement.component.css */
.membres-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .membre-card {
    display: flex;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .membre-image {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .membre-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .membre-details {
    flex: 1;
  }
  
  .membre-details h3 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  
  .membre-details p {
    margin-bottom: 5px;
  }
  

 
.modifier-button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .modifier-button:hover {
    background-color: #0056b3;
  }
  