<div class="main-container">
    <header class="navbar">
      <a href="" routerLink="/e-gouvernance/" style="text-decoration: none;color: white;"><img src="assets/images/logo.png" alt="E-Gouvernance" class="navbar-logo"></a>
        <a href="" routerLink="/e-gouvernance/" style="text-decoration: none;color: white;"><span class="navbar-text" style="margin-top: -20px;" >E-Gouvernance</span></a>

        <button class="navbar-logout-button" (click)="deconnecter()">
          Déconnexion
        </button>

    </header>
  
    <div class="content-container">
      <aside class="sidebar">
        <div class="info-list">
         
          <div class="dropdown">
            <a href="" routerLink="/e-gouvernance/liste-infos">  <button class="dropbtn">Informations</button></a>
          </div>
          <br>
          <br>
          <div class="dropdown">
            <a href="" routerLink="/e-gouvernance/liste-membre-gouvernement"><button class="dropbtn">Membres du gouvernement</button></a>
          </div>
          <br>
        <br>
          <div class="dropdown">
            <a href="" routerLink="/e-gouvernance/liste-projet"><button class="dropbtn">Liste des projets</button></a>
          </div>
          <br>
        <br>

        </div>
      </aside>
  
      <!-- Content -->
      <main class="content">
        <!-- Mettez ici le contenu de votre page principale (content) -->
       

        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
  