<div class="card-container">
    <div class="card">
        <img src="assets/images/membre.jpg" alt="Denim Jeans" style="width:100%" height="200">
        <h1>Membres</h1>
        <p class="price">Gourvernement</p>
        <p> </p>
        <a href="" routerLink="/e-gouvernance/liste-membre-gouvernement"><p><button>Voir</button></p></a>
    </div>

    <div class="card">
        <img src="assets/images/projet.jpg" alt="Denim Jeans" style="width:100%" height="200">
        <h1>Projet</h1>
        <p class="price">Projet publique</p>
        <p> </p>
        <a href="" routerLink="/e-gouvernance/liste-projet"><p><button>Voir</button></p></a>
    </div>

    <div class="card">
        <img src="assets/images/infos.jpg" alt="Denim Jeans" style="width:100%" height="200">
        <h1>Informations</h1>
        <p class="price">Information publique</p>
        <p> </p>
        <a href="" routerLink="/e-gouvernance/liste-infos"><p><button>Voir</button></p></a>
    </div>
</div>
